p {
    position:absolute;
    font-size: 100px;
    background-color: yellowgreen;
    height: 30%;
    width: 100%;
    margin:auto;
    text-align: center;
    
}

#start {
    float: left;
    margin-left: 20rem;
    height: 40px;
    width: 100px;
}

#reset {
    float: right;
    margin-right:  20rem;
    height: 40px;
    width: 100px;
}

#timerWord {
    margin: 40px 40px 40px 40px;
    padding: 40px 40px 40px 40px;
    text-align: center;
}

#countDown {
    background-color: blanchedalmond;
    font-size: 50px;
    width: 30rem;
    margin: auto;
}

#grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: aquamarine;
    
    /* this changes mouse to crosshair */
    /* .crosshair {cursor: crosshair;} */
    cursor: crosshair;
    font-size: 200px;
    text-align: center;
}

#scores {
    text-align: center;
    display: inline-flex;
    /* margin-left: 500px; */
    
}


#score-holder, #score-to-beat {
    background-color: black;
    color: yellow;
    font-size: 50px;
    height: 200px;
    width: 200px;
    margin: auto;
}

#score-to-beat {
    margin-left: 70px;
}

#target {
    font-size: 20px;
    background-color: yellow;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    
}

.boxstyle {
    background-color: red;
    height: 100px;
    width: 100px;
    text-align: center;
    /* adjusts targets into a specifi postion with grid */
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;

}

