p {
    position:absolute;
    font-size: 100px;
    background-color: yellowgreen;
    height: 30%;
    width: 100%;
    margin:auto;
    text-align: center;
    
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: aquamarine;
    
    /* this changes mouse to crosshair */
    /* .crosshair {cursor: crosshair;} */
    cursor: crosshair;
    font-size: 200px;
    text-align: center;
}

#scores {
    text-align: center;
    display: inline-flex;
    /* margin-left: 500px; */
    
}


#score-holder, #score-to-beat {
    background-color: black;
    color: yellow;
    font-size: 50px;
    height: 200px;
    width: 200px;
    margin: auto;
}

#score-to-beat {
    margin-left: 70px;
}

.boxstyle {
    background-color: red;
    height: 100px;
    width: 100px;
    text-align: center;
    /* adjusts targets into a specifi postion with grid */
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;

}

