body {
    background-color: rgb(186, 199, 199);
}
p {
    position:absolute;
    font-size: 100px;
    background-color: yellowgreen;
    height: 30%;
    width: 100%;
    margin:auto;
    text-align: center;
    
}

#pID {
    position:absolute;
    font-size: 30px;
    background-color: yellowgreen;
    height: 30%;
    width: 100%;
    text-align: justify;

}

#instructions {
    margin: 50px 47% 10px;
    height: 40px;
    width: 100px;
}
#instructions:hover {
    box-shadow: 0 20px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    height: 70px;
    width: 200px;
    margin: 50px 46% 10px;
}

#instructions::before{
    content:'Click to learn how to play!';
}
#instructions:hover::before {
    content: "Yes! Let's go learn! ";
}


#start {
    float: left;
    margin-left: 20rem;
    height: 40px;
    width: 100px;
}

#reset {
    float: right;
    margin-right:  20rem;
    height: 40px;
    width: 100px;
}

#timerWord {
    margin: 40px 40px 40px 40px;
    padding: 40px 40px 40px 40px;
    text-align: center;
}

#countDown {
    background-color: blanchedalmond;
    font-size: 50px;
    width: 30rem;
    margin: auto;
}

#grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-image: url("./https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7TyU8l7rl1vaQWsvK-VzxnM2h7ERXAzQF6wb3H8KOVPROUhw-0vhxwbY6--Bl8rJjEHI&usqp=CAU");
    background-size:cover;
    background-repeat: no-repeat;
    cursor: crosshair;
    font-size: 200px;
    text-align: center;
}

/* #img {
    object-fit: cover;
    height: auto;
    width: ;
} */

#scores {
    text-align: center;
    display: inline-flex;
    
}

#score-holder, #score-to-beat {
    background-color: rgb(29, 26, 26);
    color: rgb(247, 247, 92);
    font-size: 50px;
    height: auto;
    width: 200px;
    margin: auto;
    text-align: center;
    border-style: double;
    border-width: thick;
}

#score-holder {
    float: left;
}

#score-to-beat {
    float: right;
    margin-bottom: 100px;
}

#target {
    font-size: 20px;
    background-color: red;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    
}

#overachiever {
    position: relative;
    font-size: 30px;
    width: 1067px;
}

.boxstyle {
    /* background-color: aquamarine; */
    height: 100px;
    width: 100px;
    text-align: center;
    /* adjusts targets into a specifi postion with grid */
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    
}
